project/boot/
target/
.classpath
.project
.scala_dependencies
.settings/
dist/
record_timestamps.log*
deployable.tgz
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*/.cache
dashboard-deployable.tgz
deployable.tar
dist-dashboard
docs/_site
.gradle
build
**/bin
samza-test/state
docs/learn/documentation/0.7.0/api/javadocs
.DS_Store
