project/boot/
target/
.classpath
.project
.scala_dependencies
.settings/
dist/
record_timestamps.log*
deployable.tgz
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.swp
*/.cache
dashboard-deployable.tgz
deployable.tar
dist-dashboard
docs/_site
.gradle
build
**/bin
samza-test/state
docs/learn/documentation/*/api/javadocs
.DS_Store
out/
*.patch
**.pyc
